<!DOCTYPE html>
<html>
<head>

    <title>{{titulo}}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilo.css" />
    <script type="text/javascript"  src="{{ STATIC_URL }}js/jquery.js"></script>
</head>
<body>

    <h1>{{titulo}}</h1>
    <form action="{% url 'crear_local' negocio_id%}" method="post" id="formulario">
        {% csrf_token %}
        <p>
            <label for="nombre">Nombre:</label>
            <input id="nombre" maxlength="250" name="nombre" type="text" />
        </p>
        <p>
            <label for="correo">Correo:</label>
            <input id="correo"  name="correo" type="text" />
        </p>
        <p>
            <label for="telefono">Telefonos:</label>
            <input id="telefono" name="telefono" type="text" />
        </p>
        <p>
            <label for="nombre">Ciudad:</label>
            <select name="ciudad">
                {% for lista in ciudades %}
                <option value="{{lista.id}}">{{lista.ciudad}}</option>}
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="direccion">Direccion:</label>
            <textarea name="direccion"></textarea>
        </p>
        <input type="hidden" id="negocio" name="negocio" value="{{negocio_id}}" placeholder="">
        <button type="button" id="crear">Crear</button>
    </form>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#crear').click(function(e){
                var $frmcategories = $('#formulario')
                var $url = $frmcategories.attr('action');

                var data_send = new FormData($frmcategories[0]);
                var $negocio = $('#negocio').val();
                $.ajax({
                    url: $url,
                    type: "POST",
                    dataType: "json",
                    data: data_send,
                    cache: false,
                    contentType: false,
                    processData: false
                }).done(function( data ) {
                    if ( data.success == 'ok' ) {
                        var txt;
                        var r = confirm("Desea crear mas locales!");
                        if (r == true) {
                            window.location = '/local/show/'+$negocio
                        } else {
                           window.location = '/negocio'
                        }

                    }
                })
            });

            // $("#id_logo").on('change',function(){
            //     var selectedFile = this.files[0];
            //     selectedFile.convertToBase64(function(base64){
            //         alert(base64);
            //     })
            // });
        });

        File.prototype.convertToBase64 = function(callback){
            var reader = new FileReader();
            reader.onload = function(e) {
                callback(e.target.result)
            };
            reader.onerror = function(e) {
                callback(null);
            };
            reader.readAsDataURL(this);
        };

    </script>
</body>
</html>
