<!DOCTYPE html>
<html>
<head>
    <title>{{titulo}}</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilo.css" />
    <script type="text/javascript"  src="{{ STATIC_URL }}js/jquery.js"></script>
</head>
<body>
    <h1>{{titulo}}</h1>
    <a href="{% url 'negocio:crear_negocio'%}">Registrar</a>
    <table border='1' id="tabla">
        <thead>
            <tr>
                <td>&nbsp;</td>
                <td>Negocio</td>
                <td>Modificar</td>
                <td>Eliminar</td>
                <td>Locales</td>
                <td>Fidelizacion</td>
                <!-- <td>&nbsp;</td> -->
            </tr>
        </thead>
        <tbody>
            {% for lista in negocios %}
            <tr>
                <td>
                    <img style="width: 48px;height: 48px;" src="{{ MEDIA_URL }}{{lista.logo}}" alt="Logo" />
                </td>
                <td>
                    {{lista.nombre}}
                </td>
                <td>
                    <a data-id="{{lista.id}}" class="modificar" href="{% url "negocio:detail_negocio"%}?id={{lista.id}}">Modificar</a>
                </td>
                <td>
                    <a data-id="{{lista.id}}" class="eliminar" href="{% url "negocio:eliminar_negocio"%}">Eliminar</a>
                </td>
                <td>
                    <a href="{% url "lista_local" lista.id%}">{{lista.num_local}}</a>
                </td>
                <td>
                    {% if lista.negocio_id is None %}
                        <a href="{% url "crear_fidelizacion" lista.id%}">Crear</a>
                    {% else%}
                        <a href="{% url "lista_fidelizacion" lista.id%}">Ver</a>
                    {% endif%}
                </td>
                <!-- <td>
                    <img src="data:image/png;base64,{{ lista.logo_ba }}" alt="">
                </td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% csrf_token %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#tabla tbody tr td').on('click','a.modificar', buscar )
            $('#tabla tbody tr td').on('click','a.eliminar', eliminar )
        });
        var buscar = function(event) {
            event.preventDefault();
            var $url = $(this).attr('href')
            $.get($url, function(data) {
                console.log(data.descripcion)
            },'json');
        };

        var eliminar = function(event) {
            event.preventDefault();
            var $url = $(this).attr('href')
            var $id  = $(this).data('id');
            var token = $('input[name="csrfmiddlewaretoken"]').val();
            $.post($url,{id:$id,csrfmiddlewaretoken:token}, function(data) {
                console.log(data.descripcion)
            },'json');
        };
    </script>
</body>
</html>
