<!DOCTYPE html>
<html>
<head>

    <title>{{titulo}}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilo.css" />
    <script type="text/javascript"  src="{{ STATIC_URL }}js/jquery.js"></script>
</head>
<body>
    <h1>Crear Categorias</h1>
    <form action="{{crear_categoria}}" method="post" id="formulario">
        {% csrf_token %}
        {{form.as_p}}

        <!--   <input type="hidden" name="tienda" value="1"/> -->
        <button type="button" id="crear">Crear</button>
    </form>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#crear').click(function(e){
                var $frmcategories = $('#formulario')
                var $url = $frmcategories.attr('action');

                var data_send = new FormData($frmcategories[0]);
                $.ajax({
                    url: $url,
                    type: "POST",
                    dataType: "json",
                    data: data_send,
                    cache: false,
                    contentType: false,
                    processData: false
                }).done(function( data ) {
                    if ( data.success == 'ok' ) {
                        window.location = '/categoria'
                    }
                })
            })
        });
    </script>
</body>
</html>
