<!DOCTYPE html>
<html>
<head>

    <title>{{titulo}}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilo.css" />
    <script type="text/javascript"  src="{{ STATIC_URL }}js/jquery.js"></script>
</head>
<body>

    <h1>{{titulo}}</h1>
    <form action="{% url 'crear_fidelizacion' negocio_id%}" method="post" id="formulario">
        {% csrf_token %}
        <p>
            <label for="id_moneda">Moneda:</label>
            <input id="id_moneda" name="moneda" step="any" type="text" />
        </p>
        <p>
            <label for="id_puntos">Puntos:</label>
            <input id="id_puntos" name="puntos" type="text" required />
        </p>
        <p>
        <label for="id_descuento">Descuento:</label>
        <input id="id_descuento" name="descuento" type="text" />
        </p>
        <input type="hidden" id="negocio" name="negocio" value="{{negocio_id}}" placeholder="">
        <button type="button" id="crear">Crear</button>
    </form>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#crear').click(function(e){
                var $frmcategories = $('#formulario')
                var $url = $frmcategories.attr('action');

                var data_send = new FormData($frmcategories[0]);
                var $negocio = $('#negocio').val();
                $.ajax({
                    url: $url,
                    type: "POST",
                    dataType: "json",
                    data: data_send,
                    cache: false,
                    contentType: false,
                    processData: false
                }).done(function( data ) {
                    if ( data.success == 'ok' ) {
                        window.location = '/negocio'
                    }
                })
            });

            // $("#id_logo").on('change',function(){
            //     var selectedFile = this.files[0];
            //     selectedFile.convertToBase64(function(base64){
            //         alert(base64);
            //     })
            // });
        });

        File.prototype.convertToBase64 = function(callback){
            var reader = new FileReader();
            reader.onload = function(e) {
                callback(e.target.result)
            };
            reader.onerror = function(e) {
                callback(null);
            };
            reader.readAsDataURL(this);
        };

    </script>
</body>
</html>
