<!DOCTYPE html>
<html>
<head>
    <title>{{titulo}}</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilo.css" />
    <script type="text/javascript"  src="{{ STATIC_URL }}js/jquery.js"></script>
</head>
<body>
    <h1>{{titulo}}</h1>
    <a href="{% url 'crear_fidelizacion' negocio_id%}">Registrar</a>
    <table border='1' id="tabla">
        <thead>
            <tr>
                <td>Local</td>
                <td>Soles</td>
                <td>Puntos</td>
                <td>Modificar</td>
                <td>Eliminar</td>
                <!-- <td>&nbsp;</td> -->
            </tr>
        </thead>
        <tbody>
            {% for lista in fidelizaciones %}
            <tr>
                <td>
                {{lista.nombre_negocio}}
                </td>
                <td>
                    {{lista.moneda}}
                </td>
                <td>
                    {{lista.puntos}}
                </td>
                <td>
                    <a data-id="{{lista.id}}" class="modificar" href="{% url "detail_fidelizacion"%}?id={{lista.id}}">Modificar</a>
                </td>
                <td>
                    <a data-id="{{lista.id}}" class="eliminar" href="{% url "eliminar_fidelizacion"%}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% csrf_token %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#tabla tbody tr td').on('click','a.modificar', buscar )
            $('#tabla tbody tr td').on('click','a.eliminar', eliminar )
        });
        var buscar = function(event) {
            event.preventDefault();
            var $url = $(this).attr('href')
            $.get($url, function(data) {
                console.log(data.descripcion)
            },'json');
        };

        var eliminar = function(event) {
            event.preventDefault();
            var $url = $(this).attr('href')
            var $id  = $(this).data('id');
            var token = $('input[name="csrfmiddlewaretoken"]').val();
            $.post($url,{id:$id,csrfmiddlewaretoken:token}, function(data) {
                console.log(data.descripcion)
            },'json');
        };
    </script>
</body>
</html>
