<!DOCTYPE html>
<html>
<head>
    <title>{{titulo}}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilo.css" />
    <script type="text/javascript"  src="{{ STATIC_URL }}js/jquery.js"></script>
</head>
<body>
    <h1>{{titulo}}</h1>
    <a href="{% url 'crear_coleccion'%}" >Registrar</a>
    <table id="tabla" border='1'>
        <thead>
            <tr>
                <td>ID</td>
                <td>&nbsp;</td>
                <td>Categorias</td>
                <td>Modificar</td>
                <td>Eliminar</td>
                <!-- <td>&nbsp;</td> -->
            </tr>
        </thead>
        <tbody>
            {% for lista in colecciones %}
            <tr>
                <td>
                    {{forloop.counter}}
                </td>
                <td>
                    <img style="width: 48px;height: 48px;" src="{{ MEDIA_URL }}{{lista.img_col}}" alt="Logo" />
                </td>
                <td>
                    {{lista.nombre}}
                </td>
                <td>
                    <a data-id="{{lista.id}}" class="modificar" href="{% url "detail_coleccion"%}?id={{lista.id}}">Modificar</a>
                </td>
                <td>
                    <a data-id="{{lista.id}}" class="eliminar" href="{% url "eliminar_coleccion"%}">Eliminar</a>
                </td>
                <!-- <td>
                    <img src="data:image/png;base64,{{ lista.img_col_bin }}" alt="">
                </td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% csrf_token %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#tabla tbody tr td').on('click','a.modificar', buscar )
            $('#tabla tbody tr td').on('click','a.eliminar', eliminar )
        });
        var buscar = function(event) {
            event.preventDefault();
            var $url = $(this).attr('href')
            $.get($url, function(data) {
                console.log(data.descripcion)
            },'json');
        };

        var eliminar = function(event) {
            event.preventDefault();
            var $url = $(this).attr('href')
            var $id  = $(this).data('id');
            var token = $('input[name="csrfmiddlewaretoken"]').val();
            $.post($url,{id:$id,csrfmiddlewaretoken:token}, function(data) {
                console.log(data.descripcion)
            },'json');
        };
    </script>
</body>
</html>
